extends section

block content
  form(method='POST' action='')
    div.form-group
      label(for='name') Schedule Name:
      input#name.form-control(type='text' placeholder='Name' name='name' required='true' value=(undefined===schedule ? '' : schedule.name))
    div.form-group
      label Workers:
      div
        for worker in workers
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='worker', id=worker._id, value=worker._id, checked=worker.checked )
            label(for=worker._id) #{worker.name}
    button.btn.btn-primary(type='submit') Submit
  
  if errors
    ul
      for error in errors
        li!= error.msg