extends section

block content
  h2 #{user.name}

  p #[strong Schedules:]
  ul
    each val, index in schedules
      li
        a(href=val.url) #{val.name}
    else
      p No schedules assigned
  hr
  p
    a(href=user.url+'/delete') Delete user
  p
    a(href=user.url+'/update') Update user     